<html>
	<head>
		<title>Evil</title>
	</head>

	<body>
		<b><%= session.username %> and <%= session.password %> is not valid but now I know a typical username and password combination that you use.  Thanks!
		<br /><br />
		Here is some more information I know about you:<br />
		<%= JSON.stringify(headers); %>
		<br />
		
		
		
		
		
		
	</body>
</html>	